<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.istiaksaif.uniclubz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.OfflineData"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniCluBz">
        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.UniCluBz"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ChatHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.RequestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.EditClubInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.UserClubHomeActivity"
            android:theme="@style/Theme.UniCluBz.statusBarTransparent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.ClubActivity"
            android:theme="@style/Theme.UniCluBz.statusBarTransparent"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.CreateClubActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.UserHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.UniCluBz"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.LogInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UniCluBz"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Activity.RegistationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.checkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.EditPersonalInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.UniversityAffiliationActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.istiaksaif.uniclubz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>