<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.istiaksaif.uniclubz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniCluBz">
        <activity android:name=".Activity.ClubActivity"></activity>
        <activity android:name=".Activity.CreateClubActivity" />
        <activity android:name=".Activity.UserHomeActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Activity.LogInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UniCluBz"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.RegistationActivity" />
        <activity android:name=".Activity.checkActivity" />
        <activity android:name=".Activity.EditPersonalInfoActivity" />
        <activity android:name=".Activity.UniversityAffiliationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>